<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<div class="col-md-8">
  <%= render @project.tasks %>
  <div class="form-group">
    <%= render 'tasks/form'%>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: 'are you sure?'}  %>
